@import url(./font.css);


:root {
    --MB: 'MB', sans-serif;
    --MM: 'MM', sans-serif;
    --MR: 'MR', sans-serif;
    --PO: 'Prosto-One', sans-serif;
    --primary: #000;
    --secondary: #fff;
    --dark-gray: #282828;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--primary);
}

.page__header {
    background-color: var(--dark-gray);
    padding-block: 6px;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav,
.footer__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__link,
.footer__nav-link {
    color: var(--secondary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
}

.user__action {
    display: flex;
    gap: 25px;
}

.burger__menu {
    width: 30px;
    height: 21px;
    background-color: transparent;
    border: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &>span {
        width: 100%;
        height: 2px;
        background-color: var(--secondary);
    }
}

.burger__menu span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
}


.banner {
    background-image: url(../image/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 38px;
}

.banner__title {
    color: var(--secondary);
    font-family: var(--PO);
    font-size: 100px;
    line-height: 75px;
}

.banner__link {
    padding: 13px 14px;
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--primary);
    font-family: var(--MM);
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 11px;
}


.products {
    margin-top: 30px;
}

.products__content {
    display: flex;
    gap: 30px;
}

.products__content:nth-of-type(2) {
    margin-top: 50px;
}


.first__text {
    margin-top: 33px;
}

.content__text:nth-of-type(1) {
    max-width: 538px;
    width: 100%;
    color: var(--secondary);
    font-family: var(--MM);
    font-size: 22px;
    line-height: 27px;
}

.first__img {
    max-width: 552px;
    width: 100%;
}

.second__img {
    max-width: 457px;
    width: 100%;
}

.products__content:nth-of-type(2) {
    align-items: center;
}

.info {
    margin-top: 50px;
}

.info__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.content__left-text,
.content__right-text {
    color: var(--secondary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
    max-width: 333px;
    width: 100%;
}

.content__left-text {
    text-align: right;
}

.category {
    margin-top: 80px;
}

.category__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.content__card {
    background-color: var(--secondary);
    border-radius: 6px;
    padding: 15px 0;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card__title {
    color: var(--primary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
}

.card__img {
    height: 167px;
    max-width: 127px;
    width: 100%;
    object-fit: contain;
}

.card__price {
    color: var(--primary);
    font-family: var(--MR);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.card__btn {
    margin-top: 10px;
    padding: 7px 57px;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--MB);
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    transition: .3s;
}

.card__btn:hover {
    scale: 1.1;
    cursor: pointer;
}

.page__footer {
    margin-top: 55px;
    background-color: var(--dark-gray);
    padding: 80px 0;
}

.images {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Media Queries */
@media(max-width: 950px) {
    .first__img {
        max-width: 450px;
        width:100%
    }
    .category__content {
        gap: 20px;
    }
}
@media (max-width :768px) {
    .products__content {
        flex-direction: column;
        align-items: center;
    }
    
    .products__content:nth-of-type(2) {
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .content__text {
        text-align: center;
        line-height: 120% !important;
    }
    .info__content {
        flex-direction: column;
    }
    .content__left-text,
    .content__right-text {
        text-align: center;
    }
    .category {
        margin-top: 40px;
    }
    .category__content {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 620px) {
    .banner {
        height: 550px;
        gap: 25px;
    }

    .banner__title {
        font-size: 80px;
        line-height: 100%;
    }
    .content__text,
    .content__left-text,
    .content__right-text {
       font-size: 18px !important;
    }
    .first__text {
        margin-top: 0;
    }
    .page__footer {
        padding: 40px 0;
        margin: 30px; 
    }
    .page__footer .content {
        flex-wrap:wrap;
        gap: 30px;
        justify-content: center;
    }
    
}
@media(max-width: 500px) {
    .user__action {
        display: none;
    }

    .burger__menu {
        display: flex;
    }

    .header__nav {
        gap: 20px;
    }

    .nav__link {
        font-size: 16px;
    }

    .logo__img {
        width: 80px;
        height: 41px;
        padding-top: 7px;
    }

    .banner {
        height: 500px;
        gap: 20px;
    }

    .banner__title {
        font-size: 60px;
    }

    .banner__link {
        font-size: 16px;
        padding: 10px;
    }
    .content__text,
    .content__left-text,
    .content__right-text {
        font-size: 16px !important;
        margin-top: 0;
    }
}

@media(max-width: 375px) {
    .header__nav {
        gap: 15px;
    }

    .nav__link {
        font-size: 14px;
    }

    .banner {
        height: 400px;
        gap: 20px;
    }

    .banner__title {
        font-size: 45px;
    }

    .banner__link {
        font-size: 14px;
        padding: 7px;
    }
}
